@keyframes colorChange {
    0% {
        color: #4caf50;
    }

    25% {
        color: #3d8f40;
    }

    50% {
        color: #235224;
    }
    
    75% {
        color: #3d8f40;
    }

    100% {
        color: #4caf50;
    }
}

