@keyframes colorChange {
    0% {
        color: #64ac54;
    }

    25% {
        color: #2a5521;
    }

    50% {
        color: #1b4414;
    }
    
    75% {
        color: #2a5521;
    }

    100% {
        color: #64ac54;
    }
}

@keyframes glowing{
    0% { background-position: 0 0 ;}
    50% { background-position: 400% 0 ;}
    100% { background-position: 0 0 ;}
}

