/* General */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
    
body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


/* header */

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 20px;
    padding-top: 30px;
    width: 100%;
}
nav ul li{
    display: inline-block;
    padding: 0 40px;
}

li, a {
    text-decoration: none;
    color: whitesmoke;
    font-weight: 500;
    font-size: .8rem;
}

li:hover, a:hover {
    text-decoration: underline;
    text-decoration-thickness: .1rem;
    text-underline-offset: 1rem;
}

/* Inicio */

.wrapper {
    width: 100%;
    height: 100vh;
    color: whitesmoke;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.5)
    )
    ,url('../img/punta.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    height: 100vh;
    margin-top: 150px;
}

.hero-info h2 {
    font-size: 35px;
    margin: 20px;
}
.hero-info h1 {
    font-size: 40px;
    margin: 20px;  
}

.hero-info p {
    margin: 20px 0;
    font-weight: 400;
    line-height: 2;
    max-width: 600px;
}

.content a {
    margin-top: 60px;
    font-size: 30px;
    transition: 0.5s ease-in-out;
}

.content a:hover {
    color: whitesmoke;
    font-size: 30px;
    transform: translateY(20px);
}


.locale {
    animation-name: colorChange;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}




/* About */

.container-about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 100%;
    height: 90vh;
    padding: 50px;
   background-color: whitesmoke;
}

.container-about h3 {
    font-size: 1rem;
    font-weight: 200;
    margin: 15px;
  
}
.container-about h2 {
    max-width: 700px;
    margin: 15px;
    font-size: 2rem;
   
 }

.container-about p {
    margin: 15px;
    max-width: 500px;
    margin-bottom: 200px;
    font-size: 1.1rem;
}

.container-about h4 {
    margin: 15px;
    font-size: 1.1rem;
    font-weight: 300;
    margin: 15px;
 }

.container-about button { 
    margin: 15px;
   padding: 20px;
   padding-left: 80px;
   padding-right: 80px;
   font-weight: bold;
   font-size: 1rem;
   background-color: whitesmoke;
   border: 3px solid black;
   cursor: pointer;
}

.container-about button:hover {
    background-color: black;
    color: whitesmoke;
}



/* Projects */

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card {
    width: 85%;
    background-color: white;
    box-shadow:  0  10px 30px rgba(82, 81, 81, 0.3);
    margin: 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
    transition: 0.5s ease-in-out;
}

.card:hover {
    transform: translateY(20px);
}

.card::before  {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, rgba(0, 0, 0, .6), rgba(0, 0, 0, .5));
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;

}

.card:hover::before{
    opacity: 1;
}


.texto {
    font-size: 20px;
    position: relative;
    z-index: 3;
    opacity: 0;
    transform: translateY(-30px) translateX(10px);
    transition: 0.5s all;
    color: white;

}

.card:hover .texto {
    opacity: 1;
}

.container-project {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
    background-color: #000000;
    background-image: linear-gradient(43deg, #000000 0%, #333333 46%, #000000 100%);
    width: 100%;
}

/* .lobo:hover {
    box-shadow:  0  10px 30px rgba(206, 206, 206, 0.3);
    filter: opacity(.8);
    font-weight: bold;
} */

 
